# Build directories
build/
bin/
debug/
release/
%{CurrentProject:Path} /

# Qt Creator specific files
*.pro.user
*.pro.user.*
.qmake.stash

# others
moc_*.cpp
moc_*.o
Makefile

third_party/PQP/*.o
third_party/PQP/lib/


# Object and binary files
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.exe

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store
